*{
    margin: 0 ;
    padding:  0;
    font-family: 'Times New Roman', serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    width: 100%;
    height: 700px;
    opacity: 0.98;
    border-radius: 10px;
}
main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/electronic-health-records-tips-featured-image.jpg');
    width: 100%;
    height: 700px;
    opacity: 0.98;
    border-radius: 10px;
}
header{
    display: flex;
    justify-content: space-evenly;
    
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 50px;
}

p{
    color: white;
    font-family: 'Times New Roman', serif;
    font-size: 40px;
    margin-left: 7%;
    margin-top: 20%;
}
.btn{
    background-color: #112A2D;
    width: 11%;
    color: white;
    margin-left: 7%;
    height: 20%;
    margin-top: 2%;
    font-size: 17px;
}
footer{
    background-color: #E0E0DB;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-evenly;
}
.ft{
    color: black;
    font-size: 25px;
    margin-top: 5%;
    text-align: center;
}
img {
    width: 10%;
    height: 10%;
    margin-top: 1%;
}


a:target {
    color: yellow;
    }
a:hover{
    color:  yellow;

}

.General , .Babies , .Dentist , .Internal , .Ophthalmologist , .Dermatologist , .Orthopedic , .Neurologist , .Gynecologist{
    width: 20%;
    height: 18rem;
    margin-left: 1%;
    margin-bottom: 1%;
    color: white;
    font-size: 13px;
    border: 3px solid white;
    border-radius: 40%;
    align-items: center;
    display: flex ; 
    flex-direction: column;
    padding-top: 3%;
}
.one , .two , .three {
    display: flex;
    justify-content: space-evenly;
}
.specialties{
    margin-top: 5%;
}
.bookHere{
    font-size: 15px;
}
.clinic{
    width: 50%;
    height: 40%;
    border-radius: 50%;
    margin-top: 7%;
}
span {
    color: black;
    opacity: 0.5;
    font-size: 15px;
    position: relative;
    top: 50px;
    right: 200px;
}
